button {
  background: linear-gradient(135deg, #7c3aed, #2563eb);
  border: none;
  color: white;
  padding: 14px 36px;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.3s;
}

button:hover {
  transform: scale(1.05);
}
.card:hover {
  transform: translateY(-8px) scale(1.02);
  transition: 0.4s;
}
@media (max-width: 768px) {
  h1 {
    font-size: 26px;
    text-align: center;
  }

  button {
    width: 100%;
  }
}
